
body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px;
  padding-top: 32px;
  background-image: url("https://www.azonano.com/images/Article_Images/ImageForArticle_4983(1).jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.quote {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 16px;
  padding: 16px;
  color: rgb(195, 0, 255);
}

button {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: rgb(195, 0, 255);
  border: none;
  border-radius: 64px;
}